*{
    margin: 0;
}
header{
     overflow: hidden;
}
.logo{
    width: 20%;
    height: 100px;
    background-color: aqua;
    text-align: center;
    color: white;
    float: left;
}
.menu{
    width: 80%;
    height: 100px;
    background-color: blue;
    text-align: center;
    color: black;
    float: right;
}
.bar{
    background-color: black;
    color: white;
    height: 70px;
    text-align: center;
}
.content{
    overflow: hidden;
}
.left_content{
    width: 20%;
    height: 400px;
    background-color: brown;
    text-align: center;
    float: left;
}
.middle_content{
    width: 60%;
    height: 400px;
    background-color: blueviolet;
    float: left;
}
.right_content{
   width: 20%;
   height: 400px;
   background-color: crimson;
   text-align: center;
   float: left;
}
.top{
    height: 30%;
    background-color: chartreuse;
    text-align: center;
}
.centre{
    height: 40%;
    background-color: darkblue;
}
.bottom{
    height: 30%;
    background-color: darkseagreen;
    text-align: center;
}
.centre_left{
    height: 100%;
    width: 50%;
    background-color: darkorchid;
    text-align: center;
}
.centre_right{
    height: 100%;
    width: 50%;
    background-color: darkslategrey;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}